body {
    background: url(../images/concrete2.jpg);
    background-size: cover;
}

h1 {
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.visible {
    background-color: blue;
    margin: 2em;
    padding: 2em;
    /* border-color: rgb(175, 1, 1);
    border-width: 10px; */
    border: 10px solid red;
    height: 10em;
    width: 10em;
    outline: 2em solid green;
    box-shadow: inset 0 0 0 2em rgb(246, 250, 3);
    background-clip: content-box;
    float: left;

